<section class="w-full sm:w-[410px] bg-[#232323] p-6 rounded-md flex flex-col">
    <div class="flex flex-col mb-5">
        <p class="subtitle break-keep mb-6">Agora, digite seu personagem favorito de Star Wars</p>
        <app-shared-input [formControl]="searchForm.controls.query" placeholder="Darth Vader" color="accent"></app-shared-input>
        <mat-error class="-mt-4 caption" *ngIf="searchForm.controls.query.hasError('invalid')">{{searchForm.controls.query.errors?.['invalid'].message}}</mat-error>
    </div>
    
    <button (click)="submit()" [disabled]="searchForm.invalid" color="accent" mat-raised-button>Próximo</button>
</section>

