<section class="w-full sm:w-[410px] bg-[#232323] p-6 rounded-md flex flex-col">
    <div class="flex flex-col mb-5">
        <h1 class="title">Olá!</h1>
        <p class="subtitle break-keep mb-6">Para começar seu teste, digite um email:</p>
        <app-shared-input [formControl]="emailForm.controls.email" placeholder="email@email.com" color="accent" [label]="'Email'" [icon]="'mail'"></app-shared-input>
    </div>
    
    <button (click)="submit()" [disabled]="emailForm.invalid" color="accent" mat-raised-button>Próximo</button>
</section>